<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{30} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- logger -->
    <!--
    <logger name="com.github.sarnowski.collections">
        <level value="TRACE"/>
    </logger>
    -->

    <!-- configurations to use; use INFO as minimum loglevel -->
    <root>
        <level value="INFO"/>
        <appender-ref ref="stdout" />
    </root>
</configuration>
